<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="css/bootstrap.min.css">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/styles.css" rel="stylesheet">
	 <script src="js/vue.js"></script>
</head>
<body>
	 <div class="wrapper">
		  <div class="sample">
				<form>
				<div class="progress">
					<div class="progress-bar" :style="progress"></div>
				</div>
				<div>
					<div class="form-group" v-for="item in info">
						<label>{{ item.name }}<b v-if="item.isValidate" style="color: red;">&nbsp;Bad</b><b v-if="!item.isValidate&&item.value" style="color: green;">&nbsp;Good</b></label>
						<input type="text" v-model="item.value" class="form-control" @keyup="checkValid(item)">
					</div>
				</div>
				<button class="btn btn-primary">
					Send Data
				</button>
			</form>
			<div>
				<table class="table table-bordered">
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<script>
		
		Vue.createApp({
			data: () => ({
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				]
			}),
			methods: {
				checkValid(item) {
					if(item.value) {
						item.isValidate = true
						if(item.pattern.test(item.value)) {
							item.isValidate = false
						}
					}
				}
			},
			computed: {
				progress() {
					let how = this.info.reduce(function(accumulator, currentValue) {
						if(!currentValue.isValidate&&currentValue.value)
  							accumulator++;
							  return accumulator;
						}, 0)
					
					return 'width:' + how/this.info.length*100 + '%';
				}
			},
			created() {
				this.info.forEach(element => {
					element.isValidate = false;
				});
			},
		}).mount('.sample');
	</script>
</body>
</html>